    body {
         background: #1a1a1a;
         margin: 0;
         padding: 10px;
         font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
         color: #FFFFFF
    }

    h1 {
        padding: 0;
    }

    form {
        padding: 0;
    }
    /*
     * Formatting the header area
     */
