    body {
         background: #1a1a1a url("images/background.jpg");
         margin: 0;
         padding: 0;
         font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
         color: #FFFFFF;

    }

    .nav-image {
        background-image: url("images/navbar.jpg");
        min-height: 120px;
    }

    .container {
        position: absolute;
        margin-top: 50px;
        width: auto;
    }

    .topnav {
        margin-left: 1250px;
    }

    .topnav a{
        font-size: 20px;
        color: white;
        padding: 14px 8px;
        text-decoration: none;
    }

    .topnav a:hover{
        text-decoration: underline;
    }

    h1 {
        padding: 0;
    }

    form {
        padding: 0;
        text-align: center;
        margin-top: 300px;
        margin-left: 700px;
        margin-right: 700px;
        border-style: solid;
        border-width: 5px;
        background: #444444;
        border-color: #444444;
        border-radius: 25px;
        box-shadow: 1px 1px 1px 1px #1a1a1a;

    }
    /*
     * Formatting the header area
     */
