{% extends "base.html" %}

{% block content %}
    <div class = "intro">
        <p>Welcome to is this a phish, the online training tool for improving
            awareness about phishing emails and how to avoid and identify them.
            Protect your data with education.
        </p>
    </div>
    <div class = "homesignin">
        <a href="{{ url_for('main.login') }}">
    <button id = "signinbutton" class="buttonStyle">Sign In</button>
    <button id = "signupbutton" class="buttonStyle">Sign Up</button>
        </a>
    </div>

{% endblock %}