{% extends "base.html" %}
{% block content %}
    <div id="app">
        <div class="inboxpanel">
            <button id = "inboxbtn" class="inboxBtn">Inbox</button>
            <button id = "realemail" class="inboxBtn">Legitimate Emails</button>
            <button id = "fakeemail" class="inboxBtn">Phishing Emails</button>
        </div>
        <div class="emails">
            {% for email in emails %}
                <div class = {{ email['slot'] }}>
                <button id={{ email['buttonid'] }} class="emailBtn"> {{ email['name'] }}</button>
                <iframe id={{ email['ifameid'] }} src={{ email['src'] }} name={{ email['iframename'] }}></iframe>
            </div>
            {% endfor %}
            <!--div class = slot2>
                <button id="emailBtn1" class="emailBtn">Email1</button>
            </div>
             <button id="emailBtn1" class="emailBtn">Email1</button>
             <iframe id ="email1" src="testemail"  name="iframe1"></iframe>
            <div class = slot3>
                <button id="emailBtn1" class="emailBtn">Email1</button>
            </div>
            <div class = slot4>
                <button id="emailBtn1" class="emailBtn">Email1</button>
            </div>
            <div class = slot5>
                <button id="emailBtn1" class="emailBtn">Email1</button>
            </div>
            <div class = slot6>
                <button id="emailBtn1" class="emailBtn">Email1</button>
            </div>
            <div class = slot7>
                <button id="emailBtn1" class="emailBtn">Email1</button>
            </div>
            <div class = slot8>
                <button id="emailBtn1" class="emailBtn">Email1</button>
            </div-->
        </div>
        <div class="lesson">
        </div>
        </div>
    </div>
{% endblock %}
</html>