{% extends "base.html" %}
{% block content %}
<div class = "trainingScroll">
    <div id="app">
        <div class="inboxpanel">
            <button id = "inboxbtn" class="inboxBtn">Inbox</button>
            <button id = "realemail" class="inboxBtn">Legitimate Emails</button>
            <button id = "fakeemail" class="inboxBtn">Phishing Emails</button>
        </div>
        <div class="emails">
        <script src="/static/js/iframeVisibility.js"></script>

            {% for email in emails %}
                <div class = {{ email['slot'] }}>
                <button id={{ email['buttonid'] }} class="emailBtn" onclick="toShow(this.id)"> {{ email['name'] }} </button>
                <iframe style="display:none;" class="iframes" id= emailFrame src ={{ email['src'] }} name={{ email['iframename'] }}></iframe>
                    <!--<iframe style="display:none" class="iframes" id={{ email['iframeid'] }} src={{ email['src'] }} name={{ email['iframename'] }}></iframe>-->
            </div>
            {% endfor %}

        </div>
        <div class="lesson">
            <script> src="/static/js/lessonControl.js"</script>
            <div class="lessonTitle"><p>Lesson</p></div>
            <div class="lessonTextBox">
                <p id = "lessonText">Welcome to you lesson introduction, in this space a lesson will appear giving you instructions on what you must do. When are you are ready to get started, please click next lesson.</p>
            </div>
            <div class="lessonBtn">
                <button id ="previous" class="lessonBtn">Previous Lesson</button>
                <button id ="nextLesson" onclick='document.getElementById("lessonText").innerHTML ="hello welcome to lesson 1"' class="lessonBtn">Next Lesson</button>
            </div>

        </div>
        </div>
</div>
{% endblock %}