<div id="143d95406757383ab92f9b574181a7d8divRplyFwdMsg" dir="ltr"><span style="font-size: 11pt; color: #000000; font-family: Calibri, sans-serif;"><strong>From:</strong> Barry keys &lt;<a class="ns-action" href="mailto:barrykeys112@gmail.com" data-click-action="common.go" data-params="new_window&amp;url=%23compose%2Fmailto%3Dbarrykeys112%2540gmail.com">barrykeys112@gmail.com</a>&gt;<br /> <strong>Sent:</strong> Friday, December 6, 2019 3:32:48 PM<br /> <strong>To:</strong>Joe Bloggs &lt;<a class="ns-action" href="mailto:mollietitley@hotmail.co.uk" data-click-action="common.go" data-params="new_window&amp;url=%23compose%2Fmailto%3Dmollietitley%2540hotmail.co.uk">joebloggs@gmail.com</a>&gt;<br /> <strong>Subject:</strong> Attention: Joe Bloggs (FBI)</span>
<div>&nbsp;</div>
</div>
<div><strong><em>Dear Beneficiary</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>I guess you confuse because of those illegal people that are impersonating the FBI Department,i must be honest with you that serious investigation have been put in place to apprehend more of them .</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>I understand your financial status so why will i scam you of your hard earn money,i have good reputation to protect and i can not jeopardize my career because of $310.00, i am not here to deceive you neither am i here to steal your money,i am here to make sure that your $8,500,000.00 USD ATM Card is deliver to you,if you give up on this,have it in your inner most mind that you will have yourself to blame for your misfortune</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>Doubt and fear is 100% capable of making one to lose his/her greatest fortune in life,so i advise you to believe that this is absolutely the perfect means for you to achieve this Goal,i advise you to give this a benefit of doubt to send the fee tomorrow ,i give you 100% guaranteed that you will get your ATM Card.</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>&nbsp;I must be honest to you that time is seriously against your transaction and at this moment,the International finance department is complaining that your $8.500,000.00 USD funds is causing huge congestion and it may likely be confiscated any moment from now if you do not act very fast to claim it,i advise you to proceed right now to do the needful.</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>The essence of the delivery fee is because when your ATM Card gets to the Airport,the Customs department will demand for the Delivery fee before they will allow your ATM Card pass through the airport.</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>Without the delivery fee document,they will not allow your ATM Card pass through the airport.</em></strong></div>
<div><strong><em>&nbsp;</em></strong></div>
<div><strong><em>It is obvious that you vehemently did not want to follow up issues concerning your $8.500,000.00 USD otherwise you would have responded to the fee required.</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>As advised I am of the opinion that your funds should be confiscated and forwarded to Government purse therefore I am using this medium as a final means of notification and warning.</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>Please feel free as you are secured as far as this transaction is concerned.</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>I know you are some way skeptical about this transaction,i am telling you not to have doubt about this,out of many bad ones,there is still few good ones,i am standing on my words today that you are dealing with the right transaction.</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>I am too religious and legitimate to rip off my fellow human,i was raised legally,so i can not do anything to deceive you because it is against the law's of financial department and the FBI Department.</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>To be candid with you,i want you to understand clearly that as far as i am concerned you have nothing to risk about regarding this transaction.</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>I can not be here wasting my time or yours if this is not true,i am too legal for that,you have absolutely nothing to worry about.</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>I will equally take some step further to assist allay your fears that you have nothing to fear,obviously scam exist but this is not one of them,take my words,which is my bond and honor.</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>Don't be deceive by anybody,if this is not real,i wouldn't have be here emailing you.</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>You have everything to loose if you close your eyes to let this Golden opportunity pass you by because you are the rightful owner of the $8,500,000.00 USD ATM Card</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>Following the trends of events concerning the upheavals facing the payment of your transaction, it is crystal clear that you are the stumbling block against yourself therefore the FBI Department will not be liable to any confiscated benefit if you refuse to adhere to our advise.</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>If anything goes wrong which i doubt to a Great Extent,i will set everything possible to refund all your money to you but i am assuring you that Nothing will go wrong.</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>Be rest assured that you will have nothing to regret in regards sending the $310, the $310 is the only amount of money that you will send and if anything goes wrong which i doubt to a great extent,i will file up a process for your $310 to be refund back to you,but i strongly assured you nothing will go wrong.</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>Be cheerful as you will Not Regret Knowing me</em></strong></div>
<div><strong><em>&nbsp;</em></strong></div>
<div><strong><em>I look forward to your response.</em></strong></div>
<div><strong><em>&nbsp;</em></strong></div>
<div><strong><em>Yours Sincerely,</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>Barr. Barry Keys</em></strong></div>
<div><strong><em>Fiduciary Agent.</em></strong></div>
<div><strong><em>Verification/Logistic Department&nbsp;</em></strong></div>
<div><strong><em>UNITED STATES DEPARTMENT OF JUSTICE</em></strong></div>
<div><strong><em>WASHINGTON, D.C. 20535</em></strong></div>
<div><strong><em><br /> </em></strong></div>
<div><strong><em>Note. It's important that you keep your winnings very confidential as we have received several bogus emails from persons using winner's identity to press for claims. We have paid several impostor's who successfully present themselves as winners probably because they have winner's information and identity. It's important you</em></strong></div>