<div class="nH">
<div class="ha">
<h2 id=":ma" class="hP" data-thread-perm-id="thread-f:1663230237481752903" data-legacy-thread-id="1714fb16bcc9d947">Your interview has been saved</h2>
<table class="cf hX" cellpadding="0">
<tbody>
<tr class="hR">
<td class="hU hM" style="background-color: #ddd; color: #666;">
<div class="hN" title="Search for all messages with label Inbox">Inbox</div>
</td>
<td class="hV hM" style="background-color: #ddd; color: #666;"><span class="hO" title="Remove label Inbox from this conversation">x</span></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="nH aHU">
<div class="nH hx">
<div class="nH">
<div class="h7 ie nH oy8Mbf">
<div class="Bk">
<div class="G3 G2">
<div>
<div id=":mj">
<div class="adn ads" data-message-id="#msg-f:1663230237481752903" data-legacy-message-id="1714fb16bcc9d947">
<div class="aju">
<div class="aCi">&nbsp;</div>
</div>
<div class="gs">
<div class="gE iv gt">
<table class="cf gJ" cellpadding="0">
<tbody>
<tr class="acZ">
<td class="gF gK">
<table class="cf ix" cellpadding="0">
<tbody>
<tr>
<td class="c2">
<h3 class="iw"><span class="qu"><span class="gD" data-hovercard-id="interviews@sonru.com">Sonru</span> <span class="go"><span>&lt;</span>interviews@sonru.com<span>&gt;</span></span> </span></h3>
</td>
</tr>
</tbody>
</table>
</td>
<td class="gH bAk">
<div class="gK"><span id=":oy" class="g3" title="Apr 6, 2020, 2:32 PM">Apr 6, 2020, 2:32 PM (23 hours ago)</span></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<table class="cf gJ" cellpadding="0">
<tbody>
<tr class="acZ">
<td class="gH">&nbsp;</td>
<td class="gH acX bAm" rowspan="2">&nbsp;</td>
</tr>
</tbody>
</table>
<table class="cf gJ" cellpadding="0">
<tbody>
<tr class="acZ xD">
<td colspan="3">
<table class="cf adz" cellpadding="0">
<tbody>
<tr>
<td class="ady">
<div id=":nb" class="ajy" data-tooltip="Show details"><img class="ajz" src="https://mail.google.com/mail/u/0/images/cleardot.gif" alt="" /></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<div style="padding: 10px; font-size: 100%; border: 0; background-color: #ffffff;">
<p>Thank you for completing the video interview. <br /> It has been saved and is now ready for NTT Ltd. to review.</p>
<p>Best of luck<br /> The Sonru Team</p>
</div>