<div id="8dfa722bbcbb9bfadivRplyFwdMsg" dir="ltr"><span style="font-size: 11pt; color: #000000; font-family: Calibri, sans-serif;"><strong>From:</strong> Government Gateway UK &lt;<a class="ns-action" href="mailto:Gateway.GovHMRco.uk--Refund43ZB1C82C.78XADSTHRRME@telenet.be" data-click-action="common.go" data-params="new_window&amp;url=%23compose%2Fmailto%3DGateway.GovHMRco.uk--Refund43ZB1C82C.78XADSTHRRME%2540telenet.be">Gateway.GovHMRco.uk--Refund43ZB1C82C.78XADSTHRRME@telenet.be</a>&gt;<br /> <strong>Sent:</strong> Friday, November 1, 2019 12:21:59 PM<br /> <strong>Subject:</strong> 'Tax Gov.uk' Application: Refund Confirmation: | 'Payment receipt return' | 'Review your automatic payment' | 'Item No.fmaitleqqtoicuixcc' <span class="wmi-callto">088098 11</span>/1/2019</span>
<div>&nbsp;</div>
</div>
<table id="d7cef561a7638f2bx_x_x_body" style="margin: 30px auto 30px auto; max-width: 600px;" cellspacing="0" cellpadding="0">
<tbody>
<tr id="c349ea709578965ax_x_x_header">
<td style="font-family: 'helvetica' , 'arial' , sans-serif;">
<table style="background: #000000 none repeat scroll 0% 0%; width: 100%;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-bottom-color: #005ea5; border-bottom-style: solid; border-bottom-width: 10px; font-family: 'helvetica' , 'arial' , sans-serif; padding: 4px 0px 4px 0px;" width="30">&nbsp;</td>
<td style="border-bottom-color: #005ea5; border-bottom-style: solid; border-bottom-width: 10px; font-family: 'helvetica' , 'arial' , sans-serif; padding: 4px 0px 4px 0px;">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr id="afaf895f80d6954fx_x_x_tagline">
<td style="font-family: 'helvetica' , 'arial' , sans-serif;">
<table style="background: #ffffff none repeat scroll 0% 0%; width: 100%;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-bottom-color: #808080; border-bottom-style: solid; border-bottom-width: 1px; font-family: 'helvetica' , 'arial' , sans-serif; font-size: 18px; padding: 10px 0px 10px 0px;" width="34">2019</td>
<td style="border-bottom-color: #808080; border-bottom-style: solid; border-bottom-width: 1px; font-family: 'helvetica' , 'arial' , sans-serif; font-size: 18px; padding: 10px 0px 10px 0px;">Get your refund directly on your Credit/Debit card.</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr id="e8d4342fb8434165x_x_x_contents">
<td style="font-family: 'helvetica' , 'arial' , sans-serif;">
<table style="background: #ffffff none repeat scroll 0% 0%; width: 100%;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-family: 'helvetica' , 'arial' , sans-serif; padding: 25px 20px 20px 20px;">
<h1 style="font-size: 36px; margin: 0px 0px 30px 0px;">Gov.uk Payment confirmation</h1>
<p style="font-size: 19px; line-height: 1.3157; margin: 0px 0px 30px 0px;">Dear <a class="ns-action" href="mailto:234234asdasf@gmail.com" data-click-action="common.go">234234asdasf@gmail.com</a></p>
<p style="font-size: 19px; margin: 0px 0px 30px 0px;">You have received this email to be notified that the&nbsp;Gateway Portal&nbsp;- (United Kingdom) has issued a refund and you'll receive 440.94 GBP directly on your credit card.</p>
<p style="font-size: 19px; margin: 0px 0px 30px 0px;"><span style="color: #0080ff;"><a class="daria-goto-anchor">Government Gateway DASHBOARD - UK</a></span></p>
<p><span style="font-weight: bold;">Note!</span><br /> <br /> &bull; the link expire's on November 1, 2019.<br /> &bull; have your credit/debit card ready<br /> &bull; A refund can be delayed for a variety of reasons, for example submitting invalid records or applying after deadline.<br /> &nbsp;</p>
<table style="font-size: 19px; text-align: left; width: 100%;" cellspacing="0" cellpadding="2">
<tbody>
<tr><th>Tax</th>
<td>Self Assessment</td>
</tr>
<tr><th>Tax reference</th>
<td><span class="wmi-callto">0284699134</span></td>
</tr>
<tr><th>Payment reference</th>
<td>rwor-ofr-xy-fzx-jdzbr</td>
</tr>
<tr><th>Amount paid</th>
<td>&pound;440.94</td>
</tr>
</tbody>
</table>
<p><strong>Please note: (Government Gateway) Office will never request your password or financial information via email.</strong></p>
<p style="font-size: 19px; margin: 0px 0px 30px 0px;">From&nbsp;Portal Online Payments</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr id="268c326a1377898x_x_x_footer" style="color: #666666; font-size: 14px;">
<td style="font-family: 'helvetica' , 'arial' , sans-serif;">
<table style="width: 100%;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-family: 'helvetica' , 'arial' , sans-serif; padding: 20px;" colspan="75">If you&rsquo;re unsure an email is from :
<ul style="margin: 5px 0px 0px 0px; padding-left: 20px;">
<li style="margin-bottom: 5px;">Do not reply to it or click on any links - 4E163596E3B-wyilhb-qtdugq-lbavr-gwkfcmuxayewjc</li>
<li style="margin-bottom: 5px;">Report the suspicious email to Government - to find out how, go to GOV.UK and search for 'Avoid and report internet scams and phishing'</li>
</ul>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>