<p><span style="font-size: 11pt; color: #000000; font-family: Calibri, sans-serif;"><strong>Subject:</strong> Available annual taxreport(s) 2016 to 2020 | 'Ref No.<span class="wmi-callto">8695965068036</span>' 99061#</span></p>
<div>&nbsp;</div>
<div style="background-color: #e4e4e4; margin: 0px; padding: 0px;">
<table style="border-collapse: collapse; width: 100%;" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#e4e4e4">
<tbody>
<tr>
<td style="border-collapse: collapse;" align="center" valign="top">
<table class="e73628e3feb9ff0ec7e80f1e56022161x_em_wrapper" style="border-collapse: collapse; width: 600px;" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#e4e4e4">
<tbody>
<tr>
<td style="border-collapse: collapse;" valign="top">
<table style="border-collapse: collapse; width: 100%;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td style="border-collapse: collapse;" valign="top" bgcolor="#ffffff">
<table style="border-collapse: collapse; width: 100%;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td class="609420b7fc98ad45ea320b0b2feb5ecdx_em_side" style="border-collapse: collapse;" width="32">&nbsp;</td>
<td style="border-collapse: collapse;" valign="top">
<table style="border-collapse: collapse; width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-collapse: collapse;" valign="top">
<table style="border-collapse: collapse; width: 100%;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td class="8ca6f5d26bf1f78e3f8ffa11d71b9643x_em_spc_20" style="border-collapse: collapse;" height="31">&nbsp;</td>
</tr>
<tr>
<td style="border-collapse: collapse;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="border-collapse: collapse; font-size: 1px; line-height: 1px;" height="16">&nbsp;</td>
</tr>
<tr>
<td class="5547b504d2fa07e363ce04f2db2d5925x_em_font24" style="border-collapse: collapse; color: #002776; font-family: 'arial' , sans-serif; font-size: 33px; font-weight: bold; line-height: 35px; text-transform: uppercase;" align="left" valign="middle">DATA MANAGER</td>
</tr>
<tr>
<td style="border-collapse: collapse; font-size: 1px; line-height: 1px;" height="18">&nbsp;</td>
</tr>
<tr>
<td style="border-collapse: collapse; font-size: 1px; line-height: 1px;" height="16">&nbsp;</td>
</tr>
<tr>
<td class="8ca6f5d26bf1f78e3f8ffa11d71b9643x_em_spc_20" style="border-collapse: collapse;" height="30">&nbsp;</td>
</tr>
<tr>
<td style="border-collapse: collapse;" valign="top">&nbsp;</td>
</tr>
<tr>
<td class="8ca6f5d26bf1f78e3f8ffa11d71b9643x_em_spc_20" style="border-collapse: collapse;" height="25">&nbsp;</td>
</tr>
<tr>
<td style="border-collapse: collapse;" valign="top">
<table style="border-collapse: collapse; width: 100%;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td style="border-collapse: collapse;" valign="top">
<table class="e73628e3feb9ff0ec7e80f1e56022161x_em_wrapper" style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td style="border-collapse: collapse;" align="center" valign="top"><a class="daria-goto-anchor" style="border-collapse: collapse;"><img style="height: 693px; margin: 0px; text-decoration: none; width: 627px; border-width: 0 !important; border-style: none !important;" src="https://resize.yandex.net/mailservice?url=http%3A%2F%2Fneighborsandfriends.com%2Fcohaysen%2Fdocuments%2Fhays_1580337.png&amp;proxy=yes&amp;key=63b0c6e7e0899b0bfb623d5aef86cfe4" alt="Hays logo-bottom" width="627" height="693" /></a></td>
</tr>
</tbody>
</table>
<br /><br />
<table style="border-collapse: collapse; width: 75%;" border="0" cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td class="f42da5adda6d1f380e84a513d059f290x_em_gap_bottom" style="border-collapse: collapse; color: #002776; font-family: 'arial' , sans-serif; font-size: 12px; font-weight: bold; line-height: 19px; text-decoration: none;" align="left" valign="middle">
<p style="padding: 0px !important; margin: 0px !important;"><em><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>- Issuing date : 28 February, 2020<br /> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>- ID Number : 5ACBDCC030EDFE1409<br /> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>- Receiver : <a class="ns-action">plsspamme@yandex.com</a><br /> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>- Method : Online by Card</em></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td class="8ca6f5d26bf1f78e3f8ffa11d71b9643x_em_spc_20" style="border-collapse: collapse;" height="25">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
<td class="609420b7fc98ad45ea320b0b2feb5ecdx_em_side" style="border-collapse: collapse;" width="32">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td class="94cb0b9523be793fc4798152d2cef0f1x_em_hide" style="border-collapse: collapse; line-height: 1px; min-width: 600px;" height="1"><img style="display: block; max-height: 1px; min-height: 1px; min-width: 600px; width: 600px; border-width: 0 !important; border-style: none !important;" src="https://resize.yandex.net/mailservice?url=https%3A%2F%2Fimages%2Fspacer.gif&amp;proxy=yes&amp;key=d7cc57f9e8f53aaf2b8023e068399126" alt="" width="600" height="1" border="0" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td class="d75483ded8f971540c9e9950516e28f7x_em_aside" style="border-collapse: collapse;" align="center" valign="top">
<table class="e73628e3feb9ff0ec7e80f1e56022161x_em_wrapper" style="border-collapse: collapse; width: 600px;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td style="border-collapse: collapse; font-size: 1px; line-height: 1px;" height="5">&nbsp;</td>
</tr>
<tr>
<td style="border-collapse: collapse; color: #808080; font-family: 'arial' , sans-serif; font-size: 10px; line-height: 13px; text-decoration: none;" align="left" valign="middle">
<p style="padding: 0px !important; margin: 0px !important;">Not displaying correctly? Click here.</p>
<br /> Please read the Privacy Policy to understand more about how to exercise your privacy rights, including changing your preferences. <br /> <br /> This is an email communication. Any information, statements or opinions contained in this message (including any attachments) are given by us. <br /> This message (including any attachments) is confidential and may be legally privileged.</td>
</tr>
<tr>
<td style="border-collapse: collapse; font-size: 1px; line-height: 1px;" height="5">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>